@import '../../styles/vars.scss';

.herocard__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(black, 0.9);
}

.herocard__powers {
    //
}
