@import './mixins.scss';

$mediaSmall: 768px;
$mediaMedium: 992px;
$mediaLarge: 1400px;
$mediaXLarge: 1920px;

// Fonts
$baseFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
$headerFont: 'Fredericka the Great', cursive;

// Spacing
$gap: 50px;

// Colors
$black: #1f1f1f;
$grey: #999999;
$green: #209155;
