@import './styles/vars.scss';

.container {
    max-width: $mediaXLarge;
    margin: 0 auto;

    header {
        display: grid;
        align-items: center;
        margin-bottom: $gap;

        @media (min-width: $mediaSmall) {
            grid-template-columns: auto 280px;
        }

        @media (min-width: $mediaMedium) {
            grid-template-columns: auto 380px;
        }

        @media (min-width: $mediaLarge) {
            grid-template-columns: auto 480px;
        }

        h1 {
            font-family: $headerFont;
            font-size: 32px;
            text-align: center;
            margin: calc($gap / 2) 0;

            @media (min-width: $mediaSmall) {
                font-size: 48px;
                text-align: left;
                margin: $gap 0;
            }

            @media (min-width: $mediaMedium) {
                font-size: 60px;
            }
        }
    }
}
